html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #2125291a;
    margin-bottom: 60px;

}

li {
    list-style-type: none;
    display: inline;
    margin-left: 1px;
}

.dropdown-item {
    color: #9b9d9e;
}

footer {
    color: #9b9d9e;
    position: absolute;
    bottom: 0;
    width: 100%;
}